<nav>
    <div>
        <a href="/">Home</a>
    </div>
    
    <div id="profDrop" class="dropdown" style="float:right;"> 
        <a id="dropLink" href="/user/<%=user.username%>"><%= user.username %></a>
        <div class="dropdown-content">
            <a href='/user/<%= user.username %>'>Profile</a>
            <a href="/characters">Characters</a>
            <a href="/campaigns">Campaigns</a>
            <a href="/user/<%= user.username %>/requests">Requests</a>

            <form action="/sessions?_method=DELETE" method="POST"> 
                <input type="submit" value="Sign Out">
            </form>
        </div>
    </div>
</nav>