<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs'); %>

<body>
    <%- include('partials/nav.ejs'); %>
    <h1 class=pageHead>Welcome <%= user.username %></h1>
    
    <div>
        
        
        <!-- <form action="/characters/new" action="GET"> 
            <input type="submit" value="Create Character">
        </form> -->
    </div>

    <div id="defaultChar">

    </div>

    <div id="defaultCamp">
        
    </div>
</body>
</html>