<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs'); %>

<body>
    <h1>plsLogin Page</h1>
    <div class="center">
        <div class="loginForm">
            <br><br><br><br>
            <h2>Login Info</h2>
            <form action="/sessions" method="POST">
                <label for="username">Username: </label>
                <input id="username" name="username" type="text" placeholder="Username"><br>

                <label id="password">Password: </label>
                <input id="password" name="password" type="text" placeholder="Password"><br>

                <input type="submit" value="Log In">
            </form>
        </div>

        <br> 
    </div>
    <div class="signUpButton">
        <form action="/register" method="GET">
                <input id="signUp" type="submit" value="Sign Up">
        </form>
    </div>




</body>
</html>