<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs'); %>

<body>
    <%- include('partials/navNoLog.ejs'); %>
    
    <div class="center">
        <div class=head>
            <h1 style="text-align: center;">Login</h1>
        </div>

        <div class="loginForm">
            <form action="/sessions" method="POST">
                <div>
                    <label for="username">Username: </label>
                    <input id="username" name="username" type="text" placeholder="Username"><br>
                </div>

                <div>
                    <label id="password">Password:   </label>
                    <input id="password" name="password" type="password" placeholder="Password"><br>
                </div>
                <div class="buttons">
                    <input type="submit" value="Log In">
                </form>
                        <form action="/register" method="GET">
                                <input id="signUp" type="submit" value="Sign Up">
                        </form>
                   
                        
                   
                        
                </div>

            
        </div>

        <br> 
    </div>
</body>
</html>