* {
    box-sizing: border-box;
    /* border: solid black 1px; */
    margin: 1px;
}

body {
    background-color: lightslategray;
}

.center {
    display: flex;
    justify-content: center;
}

#signUp {
    margin: 50px 300px; 
}