<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>Campaign Creation</h1>

    <div>
        <form action="/campaigns" method="POST">
            <input type="hidden" name="dm" value="<%= user._id %>">
            <input type="text" name="name" placeholder="Name"><br>
            

            <input type="submit" value="Create Campaign">
        </form>
    </div>
</body>
</html>