<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>Character Creation</h1>

    <div>
        <form action="/characters" method="POST">
            <input type="hidden" name="creator" value="<%= user._id %>">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="text" name="race" placeholder="race"><br>
            <input type="text" name="class" placeholder="class"><br>
            

            <input type="submit" value="Create Character">
        </form>
    </div>
</body>
</html>